[submodule "home/.themes/jasuarez"]
	path = themes/jasuarez
	url = https://github.com/jasuarez/gnome-theme
[submodule "home/.vim"]
	path = vim
	url = https://github.com/jasuarez/vim.d
[submodule "home/.local/bin"]
	path = local/bin
	url = https://github.com/jasuarez/scripts.git
[submodule "home/.emacs.d"]
	path = emacs.d
	url = https://github.com/jasuarez/emacs.d
[submodule "home/.bashrc.d"]
	path = bashrc.d
	url = https://github.com/jasuarez/bashrc.d
[submodule "nvim"]
	path = nvim
	url = https://github.com/jasuarez/nvim
