[submodule "home/.themes/jasuarez"]
	path = home/.themes/jasuarez
	url = https://github.com/jasuarez/gnome-theme
[submodule "home/.vim"]
	path = home/.vim
	url = https://github.com/jasuarez/vim.d
[submodule "home/.local/bin"]
	path = home/.local/bin
	url = https://github.com/jasuarez/scripts.git
[submodule "home/.emacs.d"]
	path = home/.emacs.d
	url = https://github.com/jasuarez/emacs.d
[submodule "home/.bashrc.d"]
	path = home/.bashrc.d
	url = https://github.com/jasuarez/bashrc.d
